@font-face {
    font-family: 'CSPraKas';
    src: url('CSPraKas.eot?#iefix') format('embedded-opentype');
    src: local('CSPraKas'), 
        url('CSPraKas.ttf')  format('truetype'),
        url('CSPraKas.woff') format('woff'),
        url('CSPraKas') format('svg');
}
