@font-face {
    font-family: 'Circular';
    src: url('Circular.eot?#iefix') format('embedded-opentype');
    src: local('Circular'), 
        url('Circular.ttf')  format('truetype'),
        url('Circular.woff') format('woff'),
        url('Circular') format('svg');
}
