
@font-face {
  font-family: 'Circular';
  src: url('Circular.eot?#iefix') format('embedded-opentype'),  url('Circular.woff') format('woff'), url('Circular.ttf')  format('truetype'), url('Circular.svg#Circular') format('svg');
  font-weight: normal;
  font-style: normal;
}
